<% provide(:title, "Edit Profile") %>
<h1>Update Your Profile</h1>

<div class="row">
  <%= form_for(@user) do |f| %>
    <%= render 'layouts/partials/shared/error_messages', object: f.object %>
    <div class="grav field">
      <a href="http://gravatar.com/emails"><%= gravatar_for @user %></a><br>
      <%= f.text_field :username, placeholder: "Username" %>
      <%= f.text_field :email, placeholder: "Email (with Gravatar)" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>
